/test
/fullstack_open_exercises/part2/courseinfo/node_modules
/fullstack_open_exercises/part2/courseinfo/public
/fullstack_open_exercises/part2/phonebook/node_modules
/fullstack_open_exercises/part2/phonebook/public
/.vscode
/fullstack_open_exercises/part2/data_for_countries/node_modules
/fullstack_open_exercises/part2/data_for_countries/public
/fullstack_open_exercises/part2/data_for_countries/.env
/fullstack_open_exercises/part3/test/node_modules
