/test
/fullstack_open_exercises/part2/courseinfo/node_modules
/fullstack_open_exercises/part2/courseinfo/public
/fullstack_open_exercises/part2/phonebook/node_modules
/fullstack_open_exercises/part2/phonebook/public
/.vscode